<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="interactive-container">

    <div class="hed">How often are your BART station's escalators out of service?</div>
    <div class="chatter">Check a BART station here and see how its escalators compare with those at stations across the Bay Area. The stations have multiple escalators, so note that some of them perform significantly better or worse than others.</div>

    <div class="drop-down">
      <div class="select-text">Select your BART station:</div>
      <select name="select" id="select-station">
        <% csv.stations525.forEach(function(d,idx){ %>
          <option value='<%=d.Stations%>' class="station"><%=d.StationName%></option>
        <% }); %>
      </select>
    </div>

    <div id="bars-title"></div>
    <div id="aboutbar">
      <div id="bars"></div>
      <div id="bottom-axis"></div>
      <div id="left-axis"></div>
    </div>

    <div id="aboutyourarea"></div>

    <div class="credit">
      <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      <div class="entry">Note: The data reflect the number of days escalators were out of service between April 1, 2015, and April 19, 2017.</div>
      <div class="entry">Source: BART</div>
    </div>

    </div>

    <script>
      var bartData = <%= JSON.stringify(csv.Escalators525) %>;
      var stationData = <%= JSON.stringify(csv.stations525) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
